
*{
    margin: 0px;
}



.container{
    width: auto;
    height: 50px;
    background-color: rgba(228, 55, 84, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2px;
    position: fixed;
    top: 0px;
    z-index: 3;
}


#MainWeb{
    font-weight: 800;
    font-size: 30px;
    color: #ea00ff;
    font-style: italic;
    text-decoration: none;
}
#home{
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
    color: #00fffb;
}


.content{
    height: 50px;
    width: auto;
    background-color: rgba(228, 55, 84, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;
    margin: 2px;
}


.background{
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),
                url(./102678030_p0.png) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: fixed;
    z-index: 0;
}

/*---------------------------------------------------------------------------*/

#Body{
    display: flex;
    justify-content: center;
}


#MainBody{
    width: 800px;
    height: 2400px;
    background-color: rgba(255, 255, 255,0.8);
    position: absolute;
    top: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.mainContent{
    width: 760px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#Ddesigning2_i{
    height: 240px;
    width: 760px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#designing2{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    position: relative;
    top: 10px;
}

#designing2text{
    height: 50px;
    width: 706px;
    display: flex;
    justify-content: center;
}
#detext{
    font-size: 30px;
    font-weight: 600;
}


/*---------------------------------------------------------------------------------*/

.cButton{
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 25px;
    background-color: rgba(70, 67, 236, 0.5);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 5px;
}

.cButton_p{
    margin: 2px;
}

